.c ,.text-center,#form_table .text-center{text-align:center;}
.r ,#form_table .text-right{text-align:right;}
.l {text-align:left;}
#form_table tr th,#form_table tr td{height: 40px;line-height: 40px;color:#000;vertical-align: middle;}
#form_table td a{vertical-align: middle;}
#form_table tr th{background-color: #d9edf7;font-weight: bold;vertical-align: middle;font-size: 11pt;}
table.treetable tr.selected{background-color: #0044CC;}
input[type="text"]{margin-bottom:0px;}
/*input[type=submit]{background-color:;color:; padding:;}*/


#form_table .text-left{
  text-align:left;
}

#form_table .text-right{
  text-align:right;
}

#form_table .text-center{
  text-align:center;
}

#form_table tr{
  height: 40px;
  line-height: 40px;
}

#form_table tr th{
  background-color: #d9edf7;
  font-weight: bold;
  vertical-align: middle;
  font-size: 12pt;
  color:#000;
}

#form_table tr td{
  vertical-align: middle;
  font-size: 12pt;
}

#form_table input {
  display: inline-block;
  vertical-align: middle;
}

#form_table{
  font-family:serif,sans-serif,cursive,fantasy,monospace;
}

#form_table .checkbox-inline{
  padding-left: 0px;
}

a.btn-warning {
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
}

 .thumbnails li{list-style-type:none;}