  <!--下拉選單 -->
  <{php}>
    global $xoopsDB;
    if(file_exists(XOOPS_ROOT_PATH."/modules/ugm_page/blocks/ugm_page_smoothmenu.php")){
      include_once XOOPS_ROOT_PATH."/modules/ugm_page/blocks/ugm_page_smoothmenu.php";
      $sql = "select `menu_sn`  from ".$xoopsDB->prefix("ugm_page_menu")." where `menu_type`='4' and `menu_enable`='1' and `menu_ofsn`='0' order by `menu_sort` limit 1 ";
	  $result = $xoopsDB->query($sql) or redirect_header($_SERVER['PHP_SELF'],3, "");//web_error()
      list($menu_sn)=$xoopsDB->fetchRow($result);
      if($menu_sn){
        echo get_all_theme_smoothmenu_body($menu_sn);
      }
    }
   <{/php}>
  <!--下拉選單 end-->